configuration {
      font:                  "Bedstead Semicondensed Medium 13";
      show-icons:            true;
      drun-display-format:   "{name}";
      display-drun:          "異";
      modi:                  "window,run,drun";
      disable-history:       false;
      fullscreen:            false;
      sidebar-mode:          false;
      hide-scrollbar:        true;
}

* {
      bg:  #0f0f0f;
      se:  #262626;
      fg:  #f0f0f0;
      ac:  #ac8aac;
}

* {
	background-color: @bg;
	text-color: @fg;
	spacing: 0;
}

window {
       transparency: "real";
       background-color: @bg;
       text-color: @fg;
       height: 100%;
       width: 19%;
       location: east;
       x-offset: 0;
       y-offset: 25;
}


prompt {
    padding: 7 0 0 10;
    background-color: @ac;
    text-color: @bg;
    font: "Iosevka Fixed Medium 25";
}

entry {
	padding: 18px;
    placeholder: "Search";
    background-color: @ac;
    text-color: @bg;
    blink: true;
}

inputbar {
	children: [prompt, entry];
    border-radius:  5px;
}


element {
	padding: 16px;
    orientation: vertical;
}

element-icon {
    size: 48px;
    border: 0px;
}

element-text {
    expand: true;
    horizontal-align: 0.5;
    vertical-align: 0.5;
}

element selected {
    margin : 10px;
	background-color: @se;
	text-color: @fg;
    border-radius:  8px;
}

listview {
	cycle: false;
	scrollbar: false;
    columns: 3;
    dynamic: true;
    layout: vertical;
}
